body{
    text-align: center;
    background-repeat: no-repeat;
    height: 1000px
}
h1{
    text-shadow: 2px 2px #F8BBD0;
    font-size: 20px;
}
#books{
    padding: 20px;
        background: linear-gradient( #00ff67 0%,#00d4ff 72%);
    font-size: 18;
    text-align: center;
    height: 800px
}
img{
    border-radius: 50%;
    width: 100px
}
#myname{
    font-family: 'Courgette', cursive;
}
.menu{
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color:black;
}
#about{
    background-color: blanchedalmond;
}
.links{
    float: right;
}
img{
    transition: transform .2s;
    border: 10px solid #AAAAAA;
}
img:hover{
    transform: scale(0.9);
}
#picture{
    height: 700px;
    width: 500px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: #111;
}
#contact{
    text-align: center;
}
html{
    scroll-behavior: smooth;
}